@using Prefeitura_Template.Models;
@using Prefeitura_Template.Areas.Admin.Enums;
@using Prefeitura_Template.Areas.Admin.Utils;
@using GridMvc.Html
@model Servico

@{
    ViewBag.Title = "Detalhes do Serviço";
    ViewBag.AreaTitle = "Detalhes do Serviço";
    ViewBag.AreaDescription = "";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="box box-warning">
        @if (!string.IsNullOrEmpty(ViewBag.Retorno))
        {
            if (ViewBag.Retorno.Contains("sucesso"))
            {
                <div class="alert alert-success alert-dismissable">
                    <i class="fa fa-check"></i>
                    <button class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @ViewBag.Retorno
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-ban"></i>
                    <button class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @ViewBag.Retorno
                </div>
            }
        }
        <div class="box-body">
            <table class="table table-bordered table-striped responsive">
                <tbody>
                    <tr>
                        <td style="width:200px">@Html.DisplayNameFor(model => model.ServicoCategoriaId)</td>
                        <td>@Html.DisplayFor(model => model.ServicoCategoria.Descricao)</td>
                    </tr>
                    <tr>
                        <td style="width:200px">@Html.DisplayNameFor(model => model.Nome)</td>
                        <td>@Html.DisplayFor(model => model.Nome)</td>
                    </tr>
                    <tr>
                        <td style="width:200px">@Html.DisplayNameFor(model => model.Chamada)</td>
                        <td>@Html.DisplayFor(model => model.Chamada)</td>
                    </tr>
                    <tr>
                        <td style="width:200px">@Html.DisplayNameFor(model => model.Descricao)</td>
                        <td>@Html.DisplayFor(model => model.Descricao)</td>
                    </tr>
                    <tr>
                        <td style="width:200px">@Html.DisplayNameFor(model => model.LinkExterno)</td>
                        <td>@Html.DisplayFor(model => model.LinkExterno)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Icone)</td>
                        <td><img src="@Url.Content(Model.CaminhoLogicoIcone)" title="@Model.Icone" /></td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.Imagem))
                    {
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Imagem)</td>
                            <td><img src="@Url.Content(Model.CaminhoLogicoImagem)" width="423" title="@Model.Imagem" /></td>
                        </tr>
                    }
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status)</td>
                        <td>@Html.DisplayFor(model => model.NomeStatus)</td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="box-footer">
            <a href="@Url.Action("Index", "Servicos")" class="btn btn-info">< Voltar</a>
            <a href="@Url.Action("Edit", "Servicos", new { id = Model.Id })" class="btn btn-warning">Editar</a>
            
        </div>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Arquivos <small id="totalizador"></small></h3>
    </div>
    <div class="box-body">
        <form action="@Url.Action("UploadFiles", "Servicos")" id="frmArquivo" method="POST" enctype="multipart/form-data">
            <div class="row" style="display:-webkit-inline-box; margin-right:0px;margin-left:0px">
                <input type="hidden" id="Id" name="Id" value="0" />
                <input type="hidden" id="ServicoId" name="ServicoId" value="@Model.Id" />
                Nome do Arquivo
                <input style="height:33px;width:300px;" type="text" id="ArquivoNome" name="ArquivoNome" />
                <input type="text" id="Arquivo" name="Arquivo" style="display:none" />
                <input style="margin-left:10px;width:55%;" type="file" class="arquivo form-control" name="Arquivo" title="Arquivo" id="CampoArquivo" onchange="VerificaTamanho(this);" />
                <button type="button" class="btn btn-danger" id="BtnCancelar" value="Cancelar" style="display:none">
                    <span>Cancelar</span>
                </button>
                <button type="button" class="btn btn-primary start" id="BtnAnexarArquivo" value="Anexar Arquivo">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span id="lblbtn">Anexar Arquivo</span>
                </button>
            </div>
            <span style="display:none;color:red;margin-left:415px" id="ErrorArquivo">Tamanho máximo permitido 15 MB</span>
            <span style="color:blue;margin-left:415px">Formatos Aceitos: .pdf</span>
        </form>
        @if (Model.ServicoArquivo != null && Model.ServicoArquivo.Count > 0)
            {
            <div class="content-body" style="margin-top:15px;">
                @Html.Grid(Model.ServicoArquivo).Columns(columns =>
               {
                   columns.Add(m => m.ArquivoNome).Titled("Nome");
                   columns.Add(m => m.Arquivo).Html().Titled("Arquivo").SetWidth(120).RenderValueAs(m => @Html.DownloadLink(m.CaminhoLogicoArquivo, m.Arquivo));
                   columns.Add(m => m.DataCadastro.Date).RenderValueAs(m => m.DataCadastro.ToString("dd/MM/yyyy")).Titled("Dt.Cadastro").FormatDate().Filterable(false);
                   columns.Add(m => m.NomeStatus).Titled("Status").Label().RenderValueAs(m => HtmlExtensions.Label(m.NomeStatus, "Ativo")).SetFilterWidgetType("EnumFilter-Status");
                   columns.Add(m => m.Id).Html().SetWidth(300).NoHeader().RenderValueAs(m => @Html.BotoesPadroesAnexos(Url, m.Status == 1, m.Id, "Servicos", "BlockArquivo", "UnBlockArquivo", "DeleteArquivo", "EditArquivo"));
               }).DefaultOptions().Filterable(true).WithPaging(20).WithGridItemsCount("")
            </div>
        }
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Pins <small id="totalizadorpin"></small></h3>
    </div>
    <div class="box-body">
        <form action="@Url.Action("CreatePin", "Servicos")" id="frmPin" method="POST" enctype="multipart/form-data">
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <div class="row" style="display:-webkit-inline-box; margin-right:0px;margin-left:0px;width:1000px">
                        <input type="hidden" id="PinId" name="Id" value="0" />
                        <input type="hidden" id="ServicoId" name="ServicoId" value="@Model.Id" />
                        Latitude
                        <input style="height:33px;width:300px;" type="text" id="Latitude" name="Latitude" />
                        Longitude
                        <input style="height:33px;width:300px;" type="text" id="Longitude" name="Longitude" />
                        <button type="button" class="btn btn-danger" id="BtnCancelarPin" value="Cancelar" style="display:none">
                            <span>Cancelar</span>
                        </button>
                        <button type="button" class="btn btn-primary start" id="BtnSalvarPin" value="Salvar">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span id="lblbtn">Salvar</span>
                        </button>
                    </div>
                    <span style="display:none;color:red;margin-left:415px" id="ErrorArquivo">Tamanho máximo permitido 15 MB</span>
                </div>
            </div>
        </form>
        @if (Model.ServicoPin != null && Model.ServicoPin.Count > 0)
            {
            <div class="content-body" style="margin-top:15px;">
                @Html.Grid(Model.ServicoPin).Columns(columns =>
               {
                   columns.Add(m => m.Latitude).Titled("Latitude");
                   columns.Add(m => m.Longitude).Titled("Longitude");
                   columns.Add(m => m.DataCadastro.Date).RenderValueAs(m => m.DataCadastro.ToString("dd/MM/yyyy")).Titled("Dt.Cadastro").FormatDate().Filterable(false);
                   columns.Add(m => m.NomeStatus).Titled("Status").Label().RenderValueAs(m => HtmlExtensions.Label(m.NomeStatus, "Ativo")).SetFilterWidgetType("EnumFilter-Status");
                   columns.Add(m => m.Id).Html().SetWidth(300).NoHeader().RenderValueAs(m => @Html.BotoesPadroesAnexos(Url, m.Status == 1, m.Id, "Servicos", "BlockPin", "UnBlockPin", "DeletePin", "EditPin", true));
               }).DefaultOptions().Filterable(true).WithPaging(20).WithGridItemsCount("")
            </div>
        }
    </div>
</div>



<div class="col-xs-12">
    @{Html.RenderAction("LogsHistory", "Logs", new { AreaId = ViewBag.codAreaAtual , id = Model.Id });}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#BtnCancelarPin").click(function () {
            $("#Id").val("0");
            $("#Longitude").val("");
            $("#Latitude").val("");
            $("#BtnCancelarPin").hide();
        });

        function editarpin(url, id) {
            $.ajax({
                type: 'GET',
                url: url,
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    $("#PinId").val(data.Id);
                    $("#Longitude").val(data.Longitude);
                    $("#Latitude").val(data.Latitude);
                    $("#BtnCancelarPin").show();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        };

        $('#BtnSalvarPin').click(function () {
            $('#Latitude').removeClass('customerror');
            $('#Longitude').removeClass('customerror');

            if ($('#Latitude').val() == "") {
                $('#Latitude').addClass('customerror');
                return false;
            }
            if ($('#Longitude').val() == "") {
                $('#Longitude').addClass('customerror');
                return false;
            }

            $("#frmPin").submit();
        });


        function VerificaTamanho(evt) {
            $("#ErrorArquivo").hide();

            var file = evt.files;
                

            if (file && file.length) {
                if (file[0].size > 15000000) {
                    $("#ErrorArquivo").show();
                    $("#CampoArquivo").val('');
                }
                else {
                    $('#Arquivo').val($(evt).val().split('\\').pop());
                }
            }
        };

        $("#BtnCancelar").click(function () {
            $("#Id").val("0");
            $("#ArquivoNome").val("");
            $("#BtnAnexarArquivo").val("Anexar Arquivo");
            $("#lblbtn").text("Anexar Arquivo");
            $("#BtnCancelar").hide();
        });

        function editarquivo(url, id) {
            $.ajax({
                type: 'GET',
                url: url,
                data: { id:id },
                dataType: 'json',
                success: function (data) {
                    $("#Id").val(data.Id);
                    $("#ArquivoNome").val(data.ArquivoNome);
                    $("#BtnAnexarArquivo").val("Salvar");
                    $("#lblbtn").text("Salvar");
                    $("#BtnCancelar").show();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        };

        $(document).ready(function () {
            pageGrids.mainGrid.addFilterWidget(new EnumFilter("Status", "@typeof(StatusPadrao).FullName"));
        });
        if (typeof $('.grid-itemscount-caption').html() != "undefined") {
            $('#totalizador').append('(' + $('.grid-itemscount-caption').html() + ")");
        }

        $('#BtnAnexarArquivo').click(function () {
            $('#ArquivoNome').removeClass('customerror');
            $('.arquivo').removeClass('customerror');

            if ($('#ArquivoNome').val() == "")
            {
                $('#ArquivoNome').addClass('customerror');
                return false;
            }
            var a = $('#Arquivo').val();
            var b = $("#Id").val();
            if ($('#Arquivo').val() == "" && $("#Id").val() == "0") {
                $('.arquivo').addClass('customerror');
                return false;
            }

            $("#frmArquivo").submit();
        });

    </script>
}