@model Prefeitura_Template.Models.Usuario
@{
    ViewBag.Title = "Editar Usuário";
    ViewBag.AreaTitle = "Editar Usuário";
    ViewBag.AreaDescription = "";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <style type="text/css">
        .field-validation-error {
            font-size: 13px;
            color: red;
        }

        .validation-summary-errors li {
            font-size: 13px;
            color: red;
        }
    </style>
}

<div class="col-md-12">
    <div class="box box-warning">

        @using (Html.BeginForm("Edit", "Usuarios", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Tema)
            @Html.HiddenFor(model => model.Status)
            <div class="box-body">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", Maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", Maxlength = "150", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.PerfilId)
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.PerfilId, (IEnumerable<SelectListItem>)ViewBag.Perfis, new { @class = "form-control chosen-select" })
                    @Html.ValidationMessageFor(model => model.PerfilId)
                </div>

                <div class="box-footer">
                    <a href="@Url.Action("Details", "Usuarios", new { id= Model.Id })" class="btn btn-warning">Cancelar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>

            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select").chosen({ width: "100%" });
            $("#CodClientes").attr("id", "CodCliente");
        });
    </script>
}
