@model Prefeitura_Template.Areas.Admin.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Recuperação de Senha";
    ViewBag.AreaTitle = "Recuperação de Senha";
}
<style>
    .navbar-btn {
        display: none;
    }

    .dropdown-toggle {
        display: none;
    }

    .right-side {
        margin-left: 0px;
    }

    .sidebar-offcanvas{
        display:none
    }
</style>
    @using (Html.BeginForm("ForgotPassword", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 style="margin-left: 15px">Digite seu Email.</h4>
        <br/>
        <table>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationSummary("", new { @class = "text-danger", style = "color:red;margin-left:-24px;" })
                </td>
            </tr>
            @if (ViewBag.Erro != null)
            {
            <tr>
                <td></td>
                <td style="color:red;display:list-item;margin-left:15px;">
                    @ViewBag.Erro
                </td>
            </tr>
            }
            <tr>
                <td>
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", style = "text-align:left; width:70px;" })
                </td>
                <td style="width:100%">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "width:93%;" })
                </td>
            </tr>
            <tr style="height:3px;"></tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-default" value="Resetar Senha" />
                </td>
            </tr>
        </table>

    }

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".sidebar-offcanvas").addClass("collapse-left");
            $(".dropdown-toggle").hide();
        });
    </script>
}
