@using Prefeitura_Template.Models;
@model Bairro

@{
    ViewBag.Title = "Detalhes do Bairro";
    ViewBag.AreaTitle = "Detalhes do Bairro";
    ViewBag.AreaDescription = "";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="box box-warning">
        @if (!string.IsNullOrEmpty(ViewBag.Retorno))
        {
            if (ViewBag.Retorno.Contains("sucesso"))
            {
                <div class="alert alert-success alert-dismissable">
                    <i class="fa fa-check"></i>
                    <button class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @ViewBag.Retorno
                </div>
            }

            else
            {
                <div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-ban"></i>
                    <button class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @ViewBag.Retorno
                </div>
            }
        }
        <div class="box-body">
            <table class="table table-bordered table-striped responsive">
                <tbody>
                    <tr>
                        <td style="width:200px">@Html.DisplayNameFor(model => model.Descricao)</td>
                        <td>@Html.DisplayFor(model => model.Descricao)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status)</td>
                        <td>@Html.DisplayFor(model => model.NomeStatus)</td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="box-footer">
            <a href="@Url.Action("Index", "Bairros")" class="btn btn-info">< Voltar</a>
            <a href="@Url.Action("Edit", "Bairros", new { id = Model.Id })" class="btn btn-warning">Editar</a>
            
        </div>


    </div>
</div>


<div class="col-xs-12">
    @{Html.RenderAction("LogsHistory", "Logs", new { AreaId = ViewBag.codAreaAtual , id = Model.Id });}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

