@model Prefeitura_Template.Models.Bairro
@{
    ViewBag.Title = "Editar Bairro";
    ViewBag.AreaTitle = "Editar Bairro";
}

@using (Html.BeginForm("Edit", "Bairros", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <div class="box box-warning">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.DataCadastro)
            @Html.HiddenFor(model => model.Status)
            <div class="box-body">
                <div class="editor-label">
                    @Html.LabelFor(m => m.Descricao)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("Details", "Bairros", new { id= Model.Id })" class="btn btn-warning">Cancelar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>

    </div>
}






